.elementor-1127
  .elementor-element.elementor-element-3c83f1c
  > .elementor-container {
  max-width: 1750px;
}
.elementor-1127 .elementor-element.elementor-element-3c83f1c {
  margin-top: 0px;
  margin-bottom: -1px;
  z-index: 999;
}
.elementor-1127 .elementor-element.elementor-element-cd0c488 #header #logo a {
  width: 225px;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  #header
  #logo-mobi
  a {
  width: 225px;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  header.tf-widget-header
  .inner-header {
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky {
  background: #000000cc;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky
  #mainnav
  > ul
  > li
  > a {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky
  .flat-information
  li
  a {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  #header.tf-widget-header.header-sticky
  .header-modal-menu-left-btn
  .modal-menu-left-btn
  .line {
  background: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  #header.tf-widget-header.header-sticky
  .btn-menu:before,
#header.tf-widget-header.header-sticky .btn-menu:after,
#header.tf-widget-header.header-sticky .btn-menu span {
  background: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky
  #mainnav
  > ul
  > li
  > a.active {
  color: #eb6d2f;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header
  #mainnav-mobi
  > ul
  > li
  > a.active {
  color: #eb6d2f;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky
  #mainnav
  > ul
  > li.current-menu-parent
  > a {
  color: #eb6d2f;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky
  #mainnav
  > ul
  > li.current-menu-ancestor
  > a {
  color: #eb6d2f;
}
.elementor-1127
  .elementor-element.elementor-element-cd0c488
  .tf-widget-header.header-sticky
  #mainnav
  > ul
  > li
  > a:hover {
  color: #eb6d2f;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption.container {
  max-width: 1120px;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption
  .sub-title {
  color: var(--e-global-color-3380ddb);
  margin: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption
  .title {
  color: #552d00;
  font-family: "Poppins", Sans-serif;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0px 0px 0px -3px;
  padding: 0px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption
  .desc {
  color: var(--e-global-color-3380ddb);
  margin: 0px 0px 0px 0px;
  padding: 0px 470px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption
  .e-slide-menu
  ul
  li
  a {
  color: #ffffff;
  font-family: "Open Sans", Sans-serif;
  font-size: 0px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption
  .e-slide-menu
  ul
  li
  a:hover {
  color: #ffffff8f;
}
.elementor-1127
  .elementor-element.elementor-element-91ce2a9
  .flex_caption
  .social
  a {
  color: #ffffffa6;
}
.elementor-1127 .elementor-element.elementor-element-91ce2a9 {
  width: var(--container-widget-width, 104.196%);
  max-width: 104.196%;
  --container-widget-width: 104.196%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-728d28d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-728d28d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #090909;
  background-image: url("../../2021/05/background-page-home01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-1127
  .elementor-element.elementor-element-728d28d
  > .elementor-background-overlay {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-728d28d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 82px 0px 121px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-58ec0b8
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-39d57a2
  > .elementor-container {
  max-width: 1200px;
}
.elementor-1127 .elementor-element.elementor-element-39d57a2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-02f7e4c
  > .elementor-element-populated {
  margin: 0px 15px 0px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}
.elementor-1127 .elementor-element.elementor-element-3b3e0a0 .tf-imagebox {
  text-align: center;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .image {
  max-width: 85px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .image,
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .image
  img {
  opacity: 1;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox:hover
  .image
  img {
  opacity: 1;
  transform: scale(1);
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .content {
  padding: 33px 20px 50px 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .content
  .wrap-icon {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .content
  .wrap-icon
  img {
  width: 30px;
  height: 30px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .title
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .title
  a:hover {
  color: #202020;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .content
  .title {
  margin: 0px 0px 10px -5px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .description {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.25px;
  color: #ffffff;
  margin: -1px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button {
  padding: 9px 18px 9px 18px;
  margin: 22px 0px 0px 2px;
  color: #fddb05;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1515150d;
  border-radius: 100% 100% 100% 100%;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button
  i {
  color: #fddb05;
  font-size: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button
  svg {
  fill: #fddb05;
  width: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button:hover {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button:hover
  i {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button:hover
  svg {
  fill: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .hover-default.tf-button:hover,
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .btn-overlay:after {
  background-color: #000000;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-right: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-right: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-left: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-left: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-3b3e0a0
  > .elementor-widget-container {
  transition: background 0.3s;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f3f3f3;
}
.elementor-1127
  .elementor-element.elementor-element-7b40548
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 15px 0px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-7b40548
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-2e3672d .tf-imagebox {
  text-align: center;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .image {
  max-width: 85px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .image,
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .image
  img {
  opacity: 1;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox:hover
  .image
  img {
  opacity: 1;
  transform: scale(1);
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .content {
  padding: 33px 20px 50px 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .content
  .wrap-icon {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .content
  .wrap-icon
  img {
  width: 30px;
  height: 30px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .title
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: #000000;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .title
  a:hover {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .content
  .title {
  margin: 0px 0px 10px -5px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .description {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.25px;
  color: #ffffff;
  margin: -1px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button {
  padding: 9px 18px 9px 18px;
  margin: 22px 0px 0px 2px;
  color: #fddb05;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1515150d;
  border-radius: 100% 100% 100% 100%;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button
  i {
  color: #fddb05;
  font-size: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button
  svg {
  fill: #fddb05;
  width: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button:hover {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button:hover
  i {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button:hover
  svg {
  fill: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .hover-default.tf-button:hover,
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .btn-overlay:after {
  background-color: #000000;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-right: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-right: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-left: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-left: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2e3672d
  > .elementor-widget-container {
  background-color: transparent;
  background-image: linear-gradient(180deg, #F10000 0%, #F87C7C 100%);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f3f3f3;
}
.elementor-1127
  .elementor-element.elementor-element-4546922
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 15px 0px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-4546922
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-0248c0d .tf-imagebox {
  text-align: center;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .image {
  max-width: 85px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .image,
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .image
  img {
  opacity: 1;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox:hover
  .image
  img {
  opacity: 1;
  transform: scale(1);
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .content {
  padding: 33px 20px 50px 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .content
  .wrap-icon {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .content
  .wrap-icon
  img {
  width: 30px;
  height: 30px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .title
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .title
  a:hover {
  color: var(--e-global-color-b5aab53);
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .content
  .title {
  margin: 0px 0px 10px -5px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .description {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.25px;
  color: #ffffff;
  margin: -1px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button {
  padding: 9px 18px 9px 18px;
  margin: 22px 0px 0px 2px;
  color: #fddb05;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1515150d;
  border-radius: 100% 100% 100% 100%;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button
  i {
  color: #fddb05;
  font-size: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button
  svg {
  fill: #fddb05;
  width: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button:hover {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button:hover
  i {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button:hover
  svg {
  fill: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .hover-default.tf-button:hover,
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .btn-overlay:after {
  background-color: #000000;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-right: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-right: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-left: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-left: 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0248c0d
  > .elementor-widget-container {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f3f3f3;
}
.elementor-1127
  .elementor-element.elementor-element-2f03c0b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-2f03c0b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b5aab53);
}
.elementor-1127 .elementor-element.elementor-element-2f03c0b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 30px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-2f03c0b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127
  .elementor-element.elementor-element-0861c18
  .tf-title-section
  .title-section {
  text-align: center;
}
.elementor-1127
  .elementor-element.elementor-element-0861c18
  .tf-title-section
  .title-section
  .wrap-title,
.elementor-1127
  .elementor-element.elementor-element-0861c18
  .tf-title-section
  .title-section
  .wrap-title
  > span {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 0.6px;
}
.elementor-1127
  .elementor-element.elementor-element-0861c18
  .tf-title-section
  .title-section
  .wrap-title {
  color: #ffffff;
  margin: 12px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-0861c18
  .tf-title-section
  .title-section
  .sub-title {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 8px;
  color: #777777;
  margin: 17px 0px 17px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-8d41085:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-8d41085
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b5aab53);
}
.elementor-1127 .elementor-element.elementor-element-8d41085 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 50px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-8d41085
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-2924d3f {
  --e-price-table-header-background-color: var(--e-global-color-da1fcdf);
  width: var(--container-widget-width, 108.927%);
  max-width: 108.927%;
  --container-widget-width: 108.927%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__heading {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__subheading {
  color: #131313;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__currency,
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__integer-part,
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__fractional-part {
  color: #1d1d1d;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__currency {
  align-self: flex-start;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__after-price {
  justify-content: flex-start;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__original-price {
  color: #e00a0a;
  font-size: 30px;
  font-weight: 900;
  align-self: flex-end;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__features-list {
  --e-price-table-features-list-color: #141414;
  text-align: left;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__features-list
  li {
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__features-list
  li:before {
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__button {
  background-color: #e00a0a;
}
.elementor-1127
  .elementor-element.elementor-element-2924d3f
  .elementor-price-table__button:hover {
  background-color: #ffa008;
}
.elementor-1127
  .elementor-element.elementor-element-2cbefce
  > .elementor-widget-container {
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
}
.elementor-1127 .elementor-element.elementor-element-6ebcb47 {
  --e-price-table-header-background-color: var(--e-global-color-da1fcdf);
  width: var(--container-widget-width, 108.927%);
  max-width: 108.927%;
  --container-widget-width: 108.927%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__heading {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__subheading {
  color: #131313;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__currency,
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__integer-part,
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__fractional-part {
  color: #1d1d1d;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__currency {
  align-self: flex-start;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__after-price {
  justify-content: flex-start;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__original-price {
  color: #e00a0a;
  font-size: 30px;
  font-weight: 900;
  align-self: flex-end;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__features-list {
  --e-price-table-features-list-color: #141414;
  text-align: left;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__features-list
  li {
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__features-list
  li:before {
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__button {
  background-color: var(--e-global-color-b0fc2dd);
}
.elementor-1127
  .elementor-element.elementor-element-6ebcb47
  .elementor-price-table__button:hover {
  background-color: var(--e-global-color-da1fcdf);
}
.elementor-1127
  .elementor-element.elementor-element-8e1a1af
  > .elementor-widget-container {
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
}
.elementor-1127 .elementor-element.elementor-element-45f03f6 {
  --e-price-table-header-background-color: var(--e-global-color-da1fcdf);
  width: var(--container-widget-width, 108.927%);
  max-width: 108.927%;
  --container-widget-width: 108.927%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__heading {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__subheading {
  color: #131313;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__currency,
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__integer-part,
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__fractional-part {
  color: #1d1d1d;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__currency {
  align-self: flex-start;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__after-price {
  justify-content: flex-start;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__original-price {
  color: #e00a0a;
  font-size: 30px;
  font-weight: 900;
  align-self: flex-end;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__features-list {
  --e-price-table-features-list-color: #141414;
  text-align: left;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__features-list
  li {
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__features-list
  li:before {
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__button {
  background-color: var(--e-global-color-b0fc2dd);
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__button:hover {
  background-color: var(--e-global-color-da1fcdf);
}
.elementor-1127
  .elementor-element.elementor-element-45f03f6
  .elementor-price-table__ribbon-inner {
  background-color: var(--e-global-color-b0fc2dd);
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-e43aa35
  > .elementor-widget-container {
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-388b4cf
  > .elementor-container {
  max-width: 1200px;
}
.elementor-1127
  .elementor-element.elementor-element-388b4cf
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1127
  .elementor-element.elementor-element-388b4cf:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-388b4cf
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b5aab53);
  background-image: url("../../2021/05/background-page-home01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-1127 .elementor-element.elementor-element-388b4cf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-388b4cf
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-02cd710 img {
  transition-duration: 0.6s;
}
.elementor-1127
  .elementor-element.elementor-element-02cd710
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-02cd710 {
  z-index: 9;
}
.elementor-1127 .elementor-element.elementor-element-f4bb149 {
  text-align: right;
}
.elementor-1127 .elementor-element.elementor-element-f4bb149 img {
  transition-duration: 0.6s;
}
.elementor-1127
  .elementor-element.elementor-element-f4bb149
  > .elementor-widget-container {
  margin: -300px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-8f2c1ef
  > .elementor-element-populated {
  padding: 40px 0px 0px 115px;
}
.elementor-1127
  .elementor-element.elementor-element-b471599
  .elementor-heading-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: -0.1px;
}
.elementor-1127
  .elementor-element.elementor-element-b471599
  > .elementor-widget-container {
  margin: 0px 110px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-3461241 {
  color: #ffffff;
  width: var(--container-widget-width, 114.425%);
  max-width: 114.425%;
  --container-widget-width: 114.425%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-093bddb
  > .elementor-container {
  max-width: 1200px;
}
.elementor-1127
  .elementor-element.elementor-element-093bddb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-093bddb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b5aab53);
  background-image: url("../../2021/05/background-page-home01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-1127 .elementor-element.elementor-element-093bddb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 0px 30px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-093bddb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127
  .elementor-element.elementor-element-530a057
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-1127
  .elementor-element.elementor-element-4c123a2
  .tf-title-section
  .title-section {
  text-align: left;
}
.elementor-1127
  .elementor-element.elementor-element-4c123a2
  .tf-title-section
  .title-section
  .wrap-title,
.elementor-1127
  .elementor-element.elementor-element-4c123a2
  .tf-title-section
  .title-section
  .wrap-title
  > span {
  font-family: "Poppins", Sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 0.5px;
}
.elementor-1127
  .elementor-element.elementor-element-4c123a2
  .tf-title-section
  .title-section
  .wrap-title {
  color: #151515;
  margin: 12px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-4c123a2
  .tf-title-section
  .title-section
  .sub-title {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 8px;
  color: #777777;
  margin: 17px 0px 17px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-4c123a2
  > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-aa8d88c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-aa8d88c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b5aab53);
}
.elementor-1127 .elementor-element.elementor-element-aa8d88c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1127
  .elementor-element.elementor-element-aa8d88c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-e1da7c6 {
  --e-image-carousel-slides-to-show: 1;
}
.elementor-1127
  .elementor-element.elementor-element-e1da7c6
  > .elementor-widget-container {
  padding: 0px 30px 30px 30px;
}
.elementor-1127
  .elementor-element.elementor-element-73ee738b
  > .elementor-container {
  max-width: 1200px;
}
.elementor-1127
  .elementor-element.elementor-element-73ee738b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-73ee738b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #090909;
  background-image: url("../../2021/05/bg-all-section-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-1127 .elementor-element.elementor-element-73ee738b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 9px 0px 96px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-73ee738b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127
  .elementor-element.elementor-element-35786e1
  .tf-title-section
  .title-section {
  text-align: left;
}
.elementor-1127
  .elementor-element.elementor-element-35786e1
  .tf-title-section
  .title-section
  .wrap-title,
.elementor-1127
  .elementor-element.elementor-element-35786e1
  .tf-title-section
  .title-section
  .wrap-title
  > span {
  font-family: "Poppins", Sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 0.5px;
}
.elementor-1127
  .elementor-element.elementor-element-35786e1
  .tf-title-section
  .title-section
  .wrap-title {
  color: #ffffff;
  margin: 12px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-35786e1
  .tf-title-section
  .title-section
  .sub-title {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 8px;
  color: #b1b1b1;
  margin: 17px 0px 17px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-35786e1
  > .elementor-widget-container {
  margin: 0px 0px -23px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .item
  .name {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .item
  .position {
  color: #ffffff;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .item
  .description {
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .owl-nav
  .owl-prev,
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .owl-nav
  .owl-next {
  font-size: 12px;
  width: 46px;
  height: 46px;
  line-height: 46px;
  top: -35%;
  color: #777777;
  background-color: #0080f000;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #777777;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .owl-nav
  .owl-prev {
  left: 89.8%;
  border-radius: 100% 100% 100% 100%;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .owl-nav
  .owl-next {
  right: 0px;
  border-radius: 100% 100% 100% 100%;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .owl-nav
  .owl-prev:hover,
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  .tf-testimonial-carousel
  .owl-nav
  .owl-next:hover {
  color: #777777;
  background-color: #0080f000;
}
.elementor-1127
  .elementor-element.elementor-element-9b3a248
  > .elementor-widget-container {
  margin: 62px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-ba49e0c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-ba49e0c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-1127 .elementor-element.elementor-element-ba49e0c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-ba49e0c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127
  .elementor-element.elementor-element-11ef59a
  > .elementor-container {
  max-width: 1200px;
}
.elementor-1127 .elementor-element.elementor-element-11ef59a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  z-index: 9;
}
.elementor-1127
  .elementor-element.elementor-element-77e3c23
  > .elementor-element-populated {
  margin: 0px 7px 0px 23px;
  --e-column-margin-right: 7px;
  --e-column-margin-left: 23px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-82c447c {
  text-align: left;
}
.elementor-1127 .elementor-element.elementor-element-82c447c img {
  width: 100%;
  max-width: 151px;
}
.elementor-1127 .elementor-element.elementor-element-7042170 {
  color: #ffffff;
  font-size: 13px;
  width: var(--container-widget-width, 93.333%);
  max-width: 93.333%;
  --container-widget-width: 93.333%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-43998b6
  > .elementor-element-populated {
  margin: 0px 7px 0px 23px;
  --e-column-margin-right: 7px;
  --e-column-margin-left: 23px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-aac71b3 {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-1127
  .elementor-element.elementor-element-aac71b3
  > .elementor-widget-container {
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-a4e10e9
  .elementor-heading-title {
  color: #b1b1b1;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: -0.3px;
}
.elementor-1127
  .elementor-element.elementor-element-a4e10e9
  > .elementor-widget-container {
  margin: 0px 0px 0px 31px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-a4e10e9 {
  width: var(--container-widget-width, 220px);
  max-width: 220px;
  --container-widget-width: 220px;
  --container-widget-flex-grow: 0;
}
.elementor-1127 .elementor-element.elementor-element-b47fe37 {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-1127
  .elementor-element.elementor-element-b47fe37
  > .elementor-widget-container {
  margin: 42px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-819b612
  .elementor-heading-title {
  color: #b1b1b1;
  font-size: 16px;
}
.elementor-1127
  .elementor-element.elementor-element-819b612
  > .elementor-widget-container {
  margin: 49px 0px 0px 31px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-819b612 {
  width: var(--container-widget-width, 220px);
  max-width: 220px;
  --container-widget-width: 220px;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-53f420c
  > .elementor-element-populated {
  margin: 0px 2px 0px 150px;
  --e-column-margin-right: 2px;
  --e-column-margin-left: 150px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127
  .elementor-element.elementor-element-63e2e36
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.elementor-1127
  .elementor-element.elementor-element-63e2e36
  > .elementor-widget-container {
  margin: -4px 0px 0px -2px;
  padding: 0px 0px 3px 0px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}
.elementor-1127 .elementor-element.elementor-element-63e2e36 {
  width: auto;
  max-width: auto;
}
.elementor-1127
  .elementor-element.elementor-element-bef55b1
  > .elementor-widget-container {
  margin: 31px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1127 .elementor-element.elementor-element-bef55b1 {
  width: var(--container-widget-width, 76.531%);
  max-width: 76.531%;
  --container-widget-width: 76.531%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-59ac686:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1127
  .elementor-element.elementor-element-59ac686
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b5aab53);
}
.elementor-1127 .elementor-element.elementor-element-59ac686 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1127
  .elementor-element.elementor-element-59ac686
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1127 .elementor-element.elementor-element-e309a66 {
  text-align: center;
  width: var(--container-widget-width, 100.317%);
  max-width: 100.317%;
  --container-widget-width: 100.317%;
  --container-widget-flex-grow: 0;
}
.elementor-1127
  .elementor-element.elementor-element-e309a66
  .elementor-heading-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.elementor-1127
  .elementor-element.elementor-element-e309a66
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-1127 .elementor-element.elementor-element-ba0374d {
    width: 41.7%;
  }
  .elementor-1127 .elementor-element.elementor-element-8f2c1ef {
    width: 58.3%;
  }
  .elementor-1127 .elementor-element.elementor-element-77e3c23 {
    width: 25%;
  }
  .elementor-1127 .elementor-element.elementor-element-43998b6 {
    width: 27.857%;
  }
  .elementor-1127 .elementor-element.elementor-element-53f420c {
    width: 46.807%;
  }
}
@media (max-width: 1024px) {
  .elementor-1127
    .elementor-element.elementor-element-91ce2a9
    .flex_caption
    .title {
    font-size: 70px;
  }
  .elementor-1127 .elementor-element.elementor-element-728d28d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 70px 0px 70px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-02f7e4c
    > .elementor-element-populated {
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-3b3e0a0
    .tf-imagebox
    .image {
    max-width: 85px;
  }
  .elementor-1127
    .elementor-element.elementor-element-3b3e0a0
    .tf-imagebox
    .content {
    padding: 20px 10px 20px 10px;
  }
  .elementor-1127
    .elementor-element.elementor-element-3b3e0a0
    .tf-imagebox
    .title
    a {
    font-size: 20px;
  }
  .elementor-1127
    .elementor-element.elementor-element-3b3e0a0
    .tf-imagebox
    .description {
    font-size: 15px;
    margin: 0px 0px 10px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-7b40548
    > .elementor-element-populated {
    margin: 30px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-2e3672d
    .tf-imagebox
    .image {
    max-width: 85px;
  }
  .elementor-1127
    .elementor-element.elementor-element-2e3672d
    .tf-imagebox
    .content {
    padding: 20px 10px 20px 10px;
  }
  .elementor-1127
    .elementor-element.elementor-element-2e3672d
    .tf-imagebox
    .title
    a {
    font-size: 20px;
  }
  .elementor-1127
    .elementor-element.elementor-element-2e3672d
    .tf-imagebox
    .description {
    font-size: 15px;
    margin: 0px 0px 10px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-4546922
    > .elementor-element-populated {
    margin: 30px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-0248c0d
    .tf-imagebox
    .image {
    max-width: 85px;
  }
  .elementor-1127
    .elementor-element.elementor-element-0248c0d
    .tf-imagebox
    .content {
    padding: 20px 10px 20px 10px;
  }
  .elementor-1127
    .elementor-element.elementor-element-0248c0d
    .tf-imagebox
    .title
    a {
    font-size: 20px;
  }
  .elementor-1127
    .elementor-element.elementor-element-0248c0d
    .tf-imagebox
    .description {
    font-size: 15px;
    margin: 0px 0px 10px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-ba0374d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127 .elementor-element.elementor-element-f4bb149 img {
    width: 100vw;
    max-width: 100%;
    height: 362px;
  }
  .elementor-1127
    .elementor-element.elementor-element-f4bb149
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-8f2c1ef
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127 .elementor-element.elementor-element-093bddb {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 70px 0px 30px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-530a057
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127 .elementor-element.elementor-element-73ee738b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 70px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-7d94a970
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127
    .elementor-element.elementor-element-9b3a248
    .tf-testimonial-carousel
    .owl-nav
    .owl-prev {
    left: 85%;
  }
  .elementor-1127
    .elementor-element.elementor-element-9b3a248
    .tf-testimonial-carousel
    .owl-nav
    .owl-next {
    right: 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-77e3c23
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127
    .elementor-element.elementor-element-43998b6
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-53f420c
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
}
@media (max-width: 767px) {
  .elementor-1127
    .elementor-element.elementor-element-91ce2a9
    .flex_caption
    .sub-title {
    font-size: 15px;
  }
  .elementor-1127
    .elementor-element.elementor-element-91ce2a9
    .flex_caption
    .title {
    font-size: 20px;
  }
  .elementor-1127
    .elementor-element.elementor-element-91ce2a9
    .flex_caption
    .desc {
    font-size: 8px;
    padding: 0px 130px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-02f7e4c
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127
    .elementor-element.elementor-element-3b3e0a0
    .tf-imagebox
    .image {
    max-width: 85px;
  }
  .elementor-1127
    .elementor-element.elementor-element-7b40548
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127
    .elementor-element.elementor-element-2e3672d
    .tf-imagebox
    .image {
    max-width: 85px;
  }
  .elementor-1127
    .elementor-element.elementor-element-4546922
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127
    .elementor-element.elementor-element-0248c0d
    .tf-imagebox
    .image {
    max-width: 85px;
  }
  .elementor-1127
    .elementor-element.elementor-element-0861c18
    .tf-title-section
    .title-section
    .wrap-title,
  .elementor-1127
    .elementor-element.elementor-element-0861c18
    .tf-title-section
    .title-section
    .wrap-title
    > span {
    font-size: 16px;
  }
  .elementor-1127
    .elementor-element.elementor-element-b471599
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-1127
    .elementor-element.elementor-element-b471599
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-3461241
    > .elementor-widget-container {
    padding: 0px 10px 0px 10px;
  }
  .elementor-1127
    .elementor-element.elementor-element-4c123a2
    .tf-title-section
    .title-section
    .wrap-title,
  .elementor-1127
    .elementor-element.elementor-element-4c123a2
    .tf-title-section
    .title-section
    .wrap-title
    > span {
    font-size: 30px;
  }
  .elementor-1127
    .elementor-element.elementor-element-4c123a2
    .tf-title-section
    .title-section
    .sub-title {
    line-height: 1.2em;
    letter-spacing: 2px;
  }
  .elementor-1127
    .elementor-element.elementor-element-e1da7c6
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-35786e1
    .tf-title-section
    .title-section
    .wrap-title,
  .elementor-1127
    .elementor-element.elementor-element-35786e1
    .tf-title-section
    .title-section
    .wrap-title
    > span {
    font-size: 30px;
  }
  .elementor-1127
    .elementor-element.elementor-element-35786e1
    .tf-title-section
    .title-section
    .sub-title {
    line-height: 1.2em;
    letter-spacing: 2px;
  }
  .elementor-1127
    .elementor-element.elementor-element-35786e1
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-9b3a248
    .tf-testimonial-carousel
    .owl-nav
    .owl-prev {
    left: 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-9b3a248
    .tf-testimonial-carousel
    .owl-nav
    .owl-next {
    right: 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-9b3a248
    .tf-testimonial-carousel
    .owl-nav
    .owl-prev,
  .elementor-1127
    .elementor-element.elementor-element-9b3a248
    .tf-testimonial-carousel
    .owl-nav
    .owl-next {
    top: -30px;
  }
  .elementor-1127 .elementor-element.elementor-element-ba49e0c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-43998b6
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-1127
    .elementor-element.elementor-element-aac71b3
    > .elementor-widget-container {
    margin: 30px 0px 0px 0px;
  }
  .elementor-1127 .elementor-element.elementor-element-aac71b3 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-1127
    .elementor-element.elementor-element-a4e10e9
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-1127 .elementor-element.elementor-element-a4e10e9 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-1127
    .elementor-element.elementor-element-b47fe37
    > .elementor-widget-container {
    margin: 30px 0px 0px 0px;
  }
  .elementor-1127 .elementor-element.elementor-element-b47fe37 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-1127
    .elementor-element.elementor-element-819b612
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-1127 .elementor-element.elementor-element-819b612 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-1127
    .elementor-element.elementor-element-53f420c
    > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1127
    .elementor-element.elementor-element-e309a66
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1127 .elementor-element.elementor-element-02f7e4c {
    width: 100%;
  }
  .elementor-1127 .elementor-element.elementor-element-7b40548 {
    width: 100%;
  }
  .elementor-1127 .elementor-element.elementor-element-4546922 {
    width: 100%;
  }
  .elementor-1127 .elementor-element.elementor-element-77e3c23 {
    width: 20%;
  }
  .elementor-1127 .elementor-element.elementor-element-43998b6 {
    width: 35%;
  }
  .elementor-1127 .elementor-element.elementor-element-53f420c {
    width: 45%;
  }
}
